<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <img class="img-fluid" src="Img/logo.png" style="width: 42px;">
        </div>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
</div><div>
        <div class="@NavMenuCssClass justify-content-end" @onclick="ToggleNavMenu">
            <div class="d-sm-inline  d-md-flex">
                    <NavLink class="nav-link text-black" href="" Match="NavLinkMatch.All">
                        Inicio
                    </NavLink>
                    <NavLink class="nav-link text-black" href="https://www.starbucks.com.co/menu">
                        Menú
                    </NavLink>
                    <NavLink class="nav-link text-black" href="https://www.starbucks.com.co/seccion/novedades">
                        Novedades
                    </NavLink>
                    <NavLink class="nav-link text-black" href="https://www.starbucks.com.co/stores">
                        Contacto
                    </NavLink>
                </div>

        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}