<div class="d-flex">
    <NavLink class="nav-link" href="/">
        <img src="Img/thumb1.png" alt="home">
    </NavLink>
    <NavLink class="nav-link" href="/T1">
        <img src="Img/thumb2.png" alt="t1">
    </NavLink>
    <NavLink class="nav-link" href="/T2">
        <img src="Img/thumb3.png" alt="t2">
    </NavLink>
</div>

@code {

}