
<div class="d-inline justify-content-center" style="width: 50px;">
    <NavLink class="nav-link" href="https://www.facebook.com/StarbucksColombia/?locale=es_LA">
        <img style="max-height: 40px;" src="Img/facebook.png" alt="facebook">
    </NavLink>
    <NavLink class="nav-link" href="https://twitter.com/Starbucks">
        <img tyle="max-height: 40px;" src="Img/twitter.png" alt="twitter">
    </NavLink>
    <NavLink class="nav-link" href="https://www.instagram.com/starbuckscol/?hl=es">
        <img style="max-height: 40px;" src="Img/instagram.png" alt="instagram">
    </NavLink>
</div>

@code {

}