@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <!-- Título -->
        <div class="col-12 mb-4">
            <h1>Te Matcha Helado</h1>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-6">
            <!-- Texto -->
            <p style="text-align: justify;">
                El té Matcha helado de Starbucks es una deliciosa bebida refrescante que combina la suavidad del té
                Matcha con la dulzura y frescura de la leche. Preparado con polvo de té Matcha de alta calidad y leche,
                esta bebida ofrece una experiencia equilibrada y llena de sabor.

                El Matcha es un tipo de té verde en polvo originario de Japón, reconocido por su vibrante color verde y
                su sabor terroso y ligeramente amargo. En la versión helada de Starbucks, el Matcha se mezcla
                cuidadosamente con leche fría y, a menudo, un toque de jarabe para crear una bebida cremosa y
                refrescante.

                Con su característico tono verde brillante, el té Matcha helado de Starbucks es una opción popular para
                aquellos que buscan una alternativa refrescante y con un sabor único. Su equilibrio entre lo dulce y lo
                herbal lo convierte en una bebida que encanta a quienes disfrutan de sabores únicos y refrescantes.
            </p>
        </div>

        <!-- Imagen con fondo de medio círculo verde -->
        <div class="col-md-6 position-relative">
            <div class="half-circle"></div>
            <img src="Img/img1.png" alt="Imagen grande" class="img-fluid" style="max-width: 400px;">
        </div>
    </div>
</div>
