@page "/T1"

<PageTitle>T1</PageTitle>

<div class="container">
    <div class="row">
        <!-- Título -->
        <div class="col-12 mb-4">
            <h1>Te Matcha Helado</h1>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-6">
            <!-- Texto -->
            <p style="text-align: justify;">
                Sumérgete en una experiencia única con nuestro Frappuccino de Edición Limitada, celebrando la llegada de la primavera con una combinación única de sabores. Delicadas notas de flor de sakura se entrelazan con la calidez de las castañas, creando un Frappuccino exquisitamente aromático y lleno de matices. Esta mezcla especial te transportará a un mundo de suavidad y dulzura, deleitando tus sentidos con cada sorbo. Disfruta de esta edición limitada y déjate envolver por la magia de la temporada en cada refrescante sorbo.
            </p>
        </div>

        <!-- Imagen con fondo de medio círculo verde -->
        <div class="col-md-6 position-relative">
            <div class="half-circle"></div>
            <img src="Img/img2.png" alt="Imagen grande" class="img-fluid" style="max-width: 400px;">
        </div>
    </div>
</div>