@page "/T2"

<PageTitle>T2</PageTitle>

<div class="container">
    <div class="row">
        <!-- Título -->
        <div class="col-12 mb-4">
            <h1>Frappuccino Frutos Rojos</h1>
        </div>

        <!-- Contenido principal -->
        <div class="col-md-6">
            <!-- Texto -->
            <p style="text-align: justify;">
                Refrescante y lleno de sabor, nuestro Frappuccino de Frutos Rojos es una mezcla perfecta de notas dulces y ácidas. Este delicioso brebaje combina la frescura de los frutos rojos con un toque suave de crema batida y hielo triturado, creando una experiencia refrescante única. Ideal para disfrutar en cualquier momento del día, su vibrante color y su exquisito sabor lo convierten en la opción perfecta para aquellos que buscan una indulgencia deliciosa y frutal en cada sorbo.
            </p>
        </div>

        <!-- Imagen con fondo de medio círculo verde -->
        <div class="col-md-6 position-relative">
            <div class="half-circle"></div>
            <img src="Img/img3.png" alt="Imagen grande" class="img-fluid" style="max-width: 400px;">
        </div>
    </div>
</div>